    <section class="hero is-primary is-medium has-background-info-dark">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                The best game ever.
              </a>
              <span class="navbar-burger" data-target="navbarMenuHeroA">
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item has-background-info-dark">
                  Home
                </a>
                <span class="navbar-item">
                  <a class="button is-primary is-inverted has-text-black">
                    <span>Login</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Words
          </p>
          <p class="subtitle">
            by Mitchell Perry
          </p>
        </div>
      </div>
    </section>
<br/>
<br/>

<div class="container is-widescreen">
  <div class="notification has-background-info-dark">
    <div class="columns">
      <div class="column">
        <p class="notification has-text-white has-background-black-ter">A</p>
      </div>
      <div class="column">
        <p class="notification has-text-white has-background-black-ter">B</p>
      </div>
      <div class="column">
        <p class="notification has-text-white has-background-black-ter">C</p>
      </div>
      <div class="column">
        <p class="notification has-text-white has-background-black-ter">D</p>
      </div>
      <div class="column">
        <p class="notification has-text-white has-background-black-ter">E</p>
      </div>
    </div>
  </div>
</div>
